.folder {
  border: 1px solid green;
  margin: 10% 10%;
  text-align: center;
}

/* ----- Folder Header -----*/
.folder-header {
  border: 1px solid purple;
  display: flex;
  flex-direction: row;
  height: 3em;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  z-index: 0;
}
.folder-header button {
  background: #f1d592;
  border-radius: 10px 10px 0px 0px;
  border: none;
  font-family: "Caveat";
  font-size: 18px;
  height: 3em;
  margin: 0px 0.5px;
  width: 6em;
}
.folder-header button:focus {
  background: #f1d592; 
  outline: 0;
}
.folder-header button:not(:focus) {
  background: #eee;
}

/* ----- Folder Cover/Back -----*/
.folder-cover, .folder-back {
  background: #f1d592;
  border: 1px solid #f1d592;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  height: 600px;
  position: absolute;
  width: 100%;
}

/* ----- Folder Pages -----*/
.folder-pages {
  background: blue;
  height: 600px;
  position: absolute;
  width: 100%;
}

/* ----- Folder Z-indexes -----*/
.folder-cover {
  z-index: 2;
}
.folder-pages {
  z-index: 1;
}
.folder-back {
  z-index: 0;
}

/*Media Queries*/
/*@media screen and (min-width: 1240px){}
@media screen and (min-width: 945px) and (max-width: 1240px){
  .App {
    margin: 2.5em 6em 2em 6em;
    height: 30em;
  }
  .App-body {
    height: 30em;
    width: 100%;
  }
}
@media screen and (min-width: 760px) and (max-width: 945px){
  .App {
    margin: 2.5em 0em 0em 0em;
    height: 100%;
  }
  .App-body {
    height: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 760px) {
  .App {
    margin: 2.5em 0em 0em 0em;
    height: 100%;
  }
  .App-body {
    height: 100%;
    width: 100%;
  }
}*/
