.about {
	/*background: #fafafa;*/
	border: none;
	display: flex;
	flex-flow: row wrap;
	height: 100%;
	width: 90%;
}
.about-image {
 	width: 40%;
	border: 1px solid red;
}
.about img {
	height: 200px;
	width: auto;
}
.about-biography {
	width: 59%;
	border: 1px solid red;
}
.about-info {
	width: 100%;
}